<ul class="nav nav-list span2 nav_teacher"> 
	<li><%= link_to "Monday", edit_my_week_day_path(@week, 1) %></li>
  <li><%= link_to "Tuesday", edit_my_week_day_path(@week, 2) %></li>
  <li><%= link_to "Wednesday", edit_my_week_day_path(@week, 3) %></li>
  <li><%= link_to "Thursday", edit_my_week_day_path(@week, 4) %></li>
  <li><%= link_to "Friday", edit_my_week_day_path(@week, 5) %></li>
</ul>


