<%= form_for [:my, @week, @day] do |f| %>

	<div>
		<label>Goal of the Day</label>
		<%= f.text_area :goal, placeholder: 'Goal of the Day', :class => "span6", :rows => "1" %>
	</div>

	<div>
		<label>Block 1</label>
		<%= f.text_area :bl1, placeholder: 'What we are doing in Block 1', :class => "span6", :rows => "4"  %>
	</div>

	<div>
		<label>Block 2</label>
		<%= f.text_area :bl2, placeholder: 'What we are doing in Block 2', :class => "span6", :rows => "4"  %>
	</div>

	<div>
		<label>Block 3</label>
		<%= f.text_area :bl3, placeholder: 'What we are doing in Block 3', :class => "span6", :rows => "4"  %>
	</div>

	<div>
		<label>Block 4</label>
		<%= f.text_area :bl4, placeholder: 'What we are doing in Block 4', :class => "span6", :rows => "4"  %>
	</div>

	<div>
		<label>Homework</label>
		<%= f.text_area :homework, placeholder: 'Homework for the Day', :class => "span6", :rows => "4"  %>
	</div>

	<div>
		<label>Resources</label>
		<%= f.text_area :resources, placeholder: 'Resources', :class => "span6", :rows => "4"  %>
	</div>

	<%= f.submit 'Update Day', class: 'btn btn-success' %>

<%end%>