<!DOCTYPE html>
<html>
<head>
  <title>Organizer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class = "body">
<div class="nav-shell">
	<%= render "layouts/nav" %>
</div>


<% if flash[:notice] %>
  <div class=' notice .alert-success'><%= flash[:notice] %></div>
<% end %>

	<%= yield %>

</body>
</html>
